:root {
  --primary-color: #13161c;
  --secondary-color: #1f2937;
  --input-bg: rgba(0, 0, 0, 0.3);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-input {
  background-color: var(--input-bg);
}

/* Styles for input label inside the input */
.peer-placeholder-shown~label {
  top: 3rem;
  left: 1rem;
}

.peer:focus~label,
.peer:not(:placeholder-shown)~label {
  top: 1rem;
  left: 0.3rem;
  font-size: 0.875rem;
  color: #C4C8CE;
  background-color: transparent;
  padding: 0 0.25rem;
}

/* Loader animation for button */
.loader-dots {
  display: inline-block;
  animation: dots 3s infinite ease-in-out;
}

@keyframes dots {
  0% {
    color: rgba(255, 255, 255, 0.4);
  }

  50% {
    color: #fff;
  }

  100% {
    color: rgba(255, 255, 255, 0.4);
  }
}

/* Error input border styles */
input:focus.border-red-500 {
  border-color: #e3342f;
}

input.border-red-500 {
  border-color: #e3342f;
}

.text-red-500 {
  color: #e3342f;
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slow-spin 3s linear infinite;
  /* 3 seconds per rotation */
}